In [1]:
#Dependencies
import pandas as pd

In [2]:
#Call in data
schools = "../schools_complete.csv"
students = "../students_complete.csv"

In [3]:
#Read data into Pandas DataFrames
schools_df = pd.read_csv(schools)
students_df = pd.read_csv(students)

In [4]:
#Merge the two DataFrames into a single DataFrame
complete_df= pd.merge(students_df, schools_df, how="left", on=["school_name", "school_name"])
complete_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [5]:
#Calculate the values for the district summary
school_count = len(complete_df["school_name"].unique())
student_count = len(complete_df["Student ID"].unique())
total_budget = schools_df["budget"].sum()
avg_math = complete_df["math_score"].mean()
avg_reading = complete_df["reading_score"].mean()
passing_math = (len(complete_df[complete_df.iloc[:,6] >= 70])/student_count) * 100
passing_reading = (len(complete_df[complete_df.iloc[:,5] >= 70])/student_count) * 100
passing_both = len(complete_df[(complete_df.iloc[:,5] >=70) & (complete_df.iloc[:,6] >=70)])/student_count * 100

In [6]:
#Create a DataFrame for the overall summary
overall_summary_df = pd.DataFrame({"Total Schools" : [school_count], "Total Students" : [student_count], 
                           "Total Budgets" : [total_budget], "Average Math Score" : [avg_math], 
                           "Average Reading Score" : [avg_reading], "% Passing Math" : [passing_math], 
                           "% Passing Reading" : [passing_reading], "% Passing Overall" : [passing_both]})
overall_summary_df

,Total Schools,Total Students,Total Budgets,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [7]:
#DataFrame for the names of the high schools
school_names_df = complete_df["school_name"].unique()
school_names_df

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [8]:
#Summary information for each high school is calcuated

Huang_df = complete_df.loc[complete_df["school_name"] == "Huang High School"]
Huang_type = Huang_df.iloc[1,8]
Huang_students = len(Huang_df)
Huang_budget = Huang_df.loc[0,"budget"]
Huang_Stu_budget = Huang_budget / Huang_students
Huang_Avg_math = Huang_df["math_score"].mean()
Huang_Avg_reading = Huang_df["reading_score"].mean()
Huang_passing_math = (len(Huang_df[Huang_df.iloc[:,6] >= 70])/Huang_students) * 100
Huang_passing_reading = (len(Huang_df[Huang_df.iloc[:,5] >= 70])/Huang_students) * 100
Huang_passing_both = len(Huang_df[(Huang_df.iloc[:,5] >=70) & (Huang_df.iloc[:,6] >=70)])/Huang_students * 100




Figueroa_df = complete_df.loc[complete_df["school_name"] == "Figueroa High School"]
Figueroa_type = Figueroa_df.iloc[1,8]
Figueroa_students = len(Figueroa_df)
Figueroa_budget = Figueroa_df.loc[2917,"budget"]
Figueroa_Stu_budget = Figueroa_budget / Figueroa_students
Figueroa_Avg_math = Figueroa_df["math_score"].mean()
Figueroa_Avg_reading = Figueroa_df["reading_score"].mean()
Figueroa_passing_math = (len(Figueroa_df[Figueroa_df.iloc[:,6] >= 70])/Figueroa_students) * 100
Figueroa_passing_reading = (len(Figueroa_df[Figueroa_df.iloc[:,5] >= 70])/Figueroa_students) * 100
Figueroa_passing_both = len(Figueroa_df[(Figueroa_df.iloc[:,5] >=70) & (Figueroa_df.iloc[:,6] >=70)])/Figueroa_students * 100




Shelton_df = complete_df.loc[complete_df["school_name"] == "Shelton High School"]
Shelton_type = Shelton_df.iloc[1,8]
Shelton_students = len(Shelton_df)
Shelton_budget = Shelton_df.loc[5866,"budget"]
Shelton_Stu_budget = Shelton_budget / Shelton_students
Shelton_Avg_math = Shelton_df["math_score"].mean()
Shelton_Avg_reading = Shelton_df["reading_score"].mean()
Shelton_passing_math = (len(Shelton_df[Shelton_df.iloc[:,6] >= 70])/Shelton_students) * 100
Shelton_passing_reading = (len(Shelton_df[Shelton_df.iloc[:,5] >= 70])/Shelton_students) * 100
Shelton_passing_both = len(Shelton_df[(Shelton_df.iloc[:,5] >=70) & (Shelton_df.iloc[:,6] >=70)])/Shelton_students * 100




Hernandez_df = complete_df.loc[complete_df["school_name"] == "Hernandez High School"]
Hernandez_type = Hernandez_df.iloc[1,8]
Hernandez_students = len(Hernandez_df)
Hernandez_budget = Hernandez_df.loc[7627,"budget"]
Hernandez_Stu_budget = Hernandez_budget / Hernandez_students
Hernandez_Avg_math = Hernandez_df["math_score"].mean()
Hernandez_Avg_reading = Hernandez_df["reading_score"].mean()
Hernandez_passing_math = (len(Hernandez_df[Hernandez_df.iloc[:,6] >= 70])/Hernandez_students) * 100
Hernandez_passing_reading = (len(Hernandez_df[Hernandez_df.iloc[:,5] >= 70])/Hernandez_students) * 100
Hernandez_passing_both = len(Hernandez_df[(Hernandez_df.iloc[:,5] >=70) & (Hernandez_df.iloc[:,6] >=70)]) / Hernandez_students * 100



Griffin_df = complete_df.loc[complete_df["school_name"] == "Griffin High School"]
Griffin_type = Griffin_df.iloc[1,8]
Griffin_students = len(Griffin_df)
Griffin_budget = Griffin_df.loc[12262,"budget"]
Griffin_Stu_budget = Griffin_budget / Griffin_students
Griffin_Avg_math = Griffin_df["math_score"].mean()
Griffin_Avg_reading = Griffin_df["reading_score"].mean()
Griffin_passing_math = (len(Griffin_df[Griffin_df.iloc[:,6] >= 70])/Griffin_students) * 100
Griffin_passing_reading = (len(Griffin_df[Griffin_df.iloc[:,5] >= 70])/Griffin_students) * 100
Griffin_passing_both = len(Griffin_df[(Griffin_df.iloc[:,5] >=70) & (Griffin_df.iloc[:,6] >=70)])/Griffin_students * 100



Wilson_df = complete_df.loc[complete_df["school_name"] == "Wilson High School"]
Wilson_type = Wilson_df.iloc[1,8]
Wilson_students = len(Wilson_df)
Wilson_budget = Wilson_df.loc[13730,"budget"]
Wilson_Stu_budget = Wilson_budget / Wilson_students
Wilson_Avg_math = Wilson_df["math_score"].mean()
Wilson_Avg_reading = Wilson_df["reading_score"].mean()
Wilson_passing_math = (len(Wilson_df[Wilson_df.iloc[:,6] >= 70])/Wilson_students) * 100
Wilson_passing_reading = (len(Wilson_df[Wilson_df.iloc[:,5] >= 70])/Wilson_students) * 100
Wilson_passing_both = len(Wilson_df[(Wilson_df.iloc[:,5] >=70) & (Wilson_df.iloc[:,6] >=70)])/Wilson_students * 100



Cabrera_df = complete_df.loc[complete_df["school_name"] == "Cabrera High School"]
Cabrera_type = Cabrera_df.iloc[1,8]
Cabrera_students = len(Cabrera_df)
Cabrera_budget = Cabrera_df.loc[16013,"budget"]
Cabrera_Stu_budget = Cabrera_budget / Cabrera_students
Cabrera_Avg_math = Cabrera_df["math_score"].mean()
Cabrera_Avg_reading = Cabrera_df["reading_score"].mean()
Cabrera_passing_math = (len(Cabrera_df[Cabrera_df.iloc[:,6] >= 70])/Cabrera_students) * 100
Cabrera_passing_reading = (len(Cabrera_df[Cabrera_df.iloc[:,5] >= 70])/Cabrera_students) * 100
Cabrera_passing_both = len(Cabrera_df[(Cabrera_df.iloc[:,5] >=70) & (Cabrera_df.iloc[:,6] >=70)])/Cabrera_students * 100




Bailey_df = complete_df.loc[complete_df["school_name"] == "Bailey High School"]
Bailey_type = Bailey_df.iloc[1,8]
Bailey_students = len(Bailey_df)
Bailey_budget = Bailey_df.loc[17871,"budget"]
Bailey_Stu_budget = Bailey_budget / Bailey_students
Bailey_Avg_math = Bailey_df["math_score"].mean()
Bailey_Avg_reading = Bailey_df["reading_score"].mean()
Bailey_passing_math = (len(Bailey_df[Bailey_df.iloc[:,6] >= 70])/Bailey_students) * 100
Bailey_passing_reading = (len(Bailey_df[Bailey_df.iloc[:,5] >= 70])/Bailey_students) * 100
Bailey_passing_both = len(Bailey_df[(Bailey_df.iloc[:,5] >=70) & (Bailey_df.iloc[:,6] >=70)])/Bailey_students * 100




Holden_df = complete_df.loc[complete_df["school_name"] == "Holden High School"]
Holden_type = Holden_df.iloc[1,8]
Holden_students = len(Holden_df)
Holden_budget = Holden_df.loc[22847,"budget"]
Holden_Stu_budget = Holden_budget / Holden_students
Holden_Avg_math = Holden_df["math_score"].mean()
Holden_Avg_reading = Holden_df["reading_score"].mean()
Holden_passing_math = (len(Holden_df[Holden_df.iloc[:,6] >= 70])/Holden_students) * 100
Holden_passing_reading = (len(Holden_df[Holden_df.iloc[:,5] >= 70])/Holden_students) * 100
Holden_passing_both = len(Holden_df[(Holden_df.iloc[:,5] >=70) & (Holden_df.iloc[:,6] >=70)])/Holden_students * 100




Pena_df = complete_df.loc[complete_df["school_name"] == "Pena High School"]
Pena_type = Pena_df.iloc[1,8]
Pena_students = len(Pena_df)
Pena_budget = Pena_df.loc[23274,"budget"]
Pena_Stu_budget = Pena_budget / Pena_students
Pena_Avg_math = Pena_df["math_score"].mean()
Pena_Avg_reading = Pena_df["reading_score"].mean()
Pena_passing_math = (len(Pena_df[Pena_df.iloc[:,6] >= 70])/Pena_students) * 100
Pena_passing_reading = (len(Pena_df[Pena_df.iloc[:,5] >= 70])/Pena_students) * 100
Pena_passing_both = len(Pena_df[(Pena_df.iloc[:,5] >=70) & (Pena_df.iloc[:,6] >=70)])/Pena_students * 100




Wright_df = complete_df.loc[complete_df["school_name"] == "Wright High School"]
Wright_type = Wright_df.iloc[1,8]
Wright_students = len(Wright_df)
Wright_budget = Wright_df.loc[24236,"budget"]
Wright_Stu_budget = Wright_budget / Wright_students
Wright_Avg_math = Wright_df["math_score"].mean()
Wright_Avg_reading = Wright_df["reading_score"].mean()
Wright_passing_math = (len(Wright_df[Wright_df.iloc[:,6] >= 70])/Wright_students) * 100
Wright_passing_reading = (len(Wright_df[Wright_df.iloc[:,5] >= 70])/Wright_students) * 100
Wright_passing_both = len(Wright_df[(Wright_df.iloc[:,5] >=70) & (Wright_df.iloc[:,6] >=70)])/Wright_students * 100



Rodriguez_df = complete_df.loc[complete_df["school_name"] == "Rodriguez High School"]
Rodriguez_type = Rodriguez_df.iloc[1,8]
Rodriguez_students = len(Rodriguez_df)
Rodriguez_budget = Rodriguez_df.loc[26036,"budget"]
Rodriguez_Stu_budget = Rodriguez_budget / Rodriguez_students
Rodriguez_Avg_math = Rodriguez_df["math_score"].mean()
Rodriguez_Avg_reading = Rodriguez_df["reading_score"].mean()
Rodriguez_passing_math = (len(Rodriguez_df[Rodriguez_df.iloc[:,6] >= 70])/Rodriguez_students) * 100
Rodriguez_passing_reading = (len(Rodriguez_df[Rodriguez_df.iloc[:,5] >= 70])/Rodriguez_students) * 100
Rodriguez_passing_both = len(Rodriguez_df[(Rodriguez_df.iloc[:,5] >=70) & (Rodriguez_df.iloc[:,6] >=70)]) / Rodriguez_students * 100



Johnson_df = complete_df.loc[complete_df["school_name"] == "Johnson High School"]
Johnson_type = Johnson_df.iloc[1,8]
Johnson_students = len(Johnson_df)
Johnson_budget = Johnson_df.loc[30035,"budget"]
Johnson_Stu_budget = Johnson_budget / Johnson_students
Johnson_Avg_math = Johnson_df["math_score"].mean()
Johnson_Avg_reading = Johnson_df["reading_score"].mean()
Johnson_passing_math = (len(Johnson_df[Johnson_df.iloc[:,6] >= 70])/Johnson_students) * 100
Johnson_passing_reading = (len(Johnson_df[Johnson_df.iloc[:,5] >= 70])/Johnson_students) * 100
Johnson_passing_both = len(Johnson_df[(Johnson_df.iloc[:,5] >=70) & (Johnson_df.iloc[:,6] >=70)])/Johnson_students * 100



Ford_df = complete_df.loc[complete_df["school_name"] == "Ford High School"]
Ford_type = Ford_df.iloc[1,8]
Ford_students = len(Ford_df)
Ford_budget = Ford_df.loc[34796,"budget"]
Ford_Stu_budget = Ford_budget / Ford_students
Ford_Avg_math = Ford_df["math_score"].mean()
Ford_Avg_reading = Ford_df["reading_score"].mean()
Ford_passing_math = (len(Ford_df[Ford_df.iloc[:,6] >= 70])/Ford_students) * 100
Ford_passing_reading = (len(Ford_df[Ford_df.iloc[:,5] >= 70])/Ford_students) * 100
Ford_passing_both = len(Ford_df[(Ford_df.iloc[:,5] >=70) & (Ford_df.iloc[:,6] >=70)])/Ford_students * 100




Thomas_df = complete_df.loc[complete_df["school_name"] == "Thomas High School"]
Thomas_type = Thomas_df.iloc[1,8]
Thomas_students = len(Thomas_df)
Thomas_budget = Thomas_df.loc[37535,"budget"]
Thomas_Stu_budget = Thomas_budget / Thomas_students
Thomas_Avg_math = Thomas_df["math_score"].mean()
Thomas_Avg_reading = Thomas_df["reading_score"].mean()
Thomas_passing_math = (len(Thomas_df[Thomas_df.iloc[:,6] >= 70])/Thomas_students) * 100
Thomas_passing_reading = (len(Thomas_df[Thomas_df.iloc[:,5] >= 70])/Thomas_students) * 100
Thomas_passing_both = len(Thomas_df[(Thomas_df.iloc[:,5] >=70) & (Thomas_df.iloc[:,6] >=70)])/Thomas_students * 100

In [9]:
#Define each value for the summary DataFrame
schools_types_df = [Huang_type, Figueroa_type, Shelton_type, Hernandez_type, Griffin_type, Wilson_type, Cabrera_type, 
                    Bailey_type, Holden_type, Pena_type, Wright_type, Rodriguez_type, Johnson_type, Ford_type, Thomas_type]

schools_students_df = [Huang_students, Figueroa_students, Shelton_students, Hernandez_students, Griffin_students,
                       Wilson_students, Cabrera_students, Bailey_students, Holden_students, Pena_students, 
                       Wright_students, Rodriguez_students, Johnson_students, Ford_students, Thomas_students]

schools_budgets_df = [Huang_budget, Figueroa_budget, Shelton_budget, Hernandez_budget, Griffin_budget, Wilson_budget, 
                      Cabrera_budget, Bailey_budget, Holden_budget, Pena_budget, Wright_budget, Rodriguez_budget, 
                      Johnson_budget, Ford_budget, Thomas_budget]

schools_perStu_df = [Huang_Stu_budget, Figueroa_Stu_budget, Shelton_Stu_budget, Hernandez_Stu_budget, Griffin_Stu_budget,
                     Wilson_Stu_budget, Cabrera_Stu_budget, Bailey_Stu_budget, Holden_Stu_budget, Pena_Stu_budget, 
                     Wright_Stu_budget, Rodriguez_Stu_budget, Johnson_Stu_budget, Ford_Stu_budget, Thomas_Stu_budget]

schools_avg_math_df = [Huang_Avg_math, Figueroa_Avg_math, Shelton_Avg_math, Hernandez_Avg_math, Griffin_Avg_math, 
                       Wilson_Avg_math, Cabrera_Avg_math, Bailey_Avg_math, Holden_Avg_math, Pena_Avg_math, Wright_Avg_math,
                       Rodriguez_Avg_math, Johnson_Avg_math, Ford_Avg_math, Thomas_Avg_math]

schools_avg_reading_df = [Huang_Avg_reading, Figueroa_Avg_reading, Shelton_Avg_reading, Hernandez_Avg_reading, 
                          Griffin_Avg_reading, Wilson_Avg_reading, Cabrera_Avg_reading, Bailey_Avg_reading, 
                          Holden_Avg_reading, Pena_Avg_reading, Wright_Avg_reading, Rodriguez_Avg_reading, 
                          Johnson_Avg_reading, Ford_Avg_reading, Thomas_Avg_reading]

schools_passing_math_df = [Huang_passing_math, Figueroa_passing_math, Shelton_passing_math, Hernandez_passing_math, 
                           Griffin_passing_math, Wilson_passing_math, Cabrera_passing_math, Bailey_passing_math, 
                           Holden_passing_math, Pena_passing_math, Wright_passing_math, Rodriguez_passing_math, 
                          Johnson_passing_math, Ford_passing_math, Thomas_passing_math]

schools_passing_reading_df = [Huang_passing_reading, Figueroa_passing_reading, Shelton_passing_reading, 
                              Hernandez_passing_reading, Griffin_passing_reading, Wilson_passing_reading, 
                              Cabrera_passing_reading, Bailey_passing_reading, Holden_passing_reading, 
                              Pena_passing_reading, Wright_passing_reading, Rodriguez_passing_reading, 
                              Johnson_passing_reading, Ford_passing_reading, Thomas_passing_reading]

schools_passing_both_df = [Huang_passing_both, Figueroa_passing_both, Shelton_passing_both, Hernandez_passing_both, 
                           Griffin_passing_both, Wilson_passing_both, Cabrera_passing_both, Bailey_passing_both, 
                           Holden_passing_both, Pena_passing_both, Wright_passing_both, Rodriguez_passing_both, 
                          Johnson_passing_both, Ford_passing_both, Thomas_passing_both]

In [10]:
#Piece together the school summary DataFrame
school_summary_df = pd.DataFrame({"School Name":[],"School Type": [],"Total Students": [],"Total School Budget":[],
                                  "Budget Per Student":[], "Average Math Score":[], "Average Reading Score":[], 
                                  "Passing Math (%)":[], "Passing Reading (%)":[], "Overall Passing (%)": []})
school_summary_df["School Name"] = school_names_df
school_summary_df["School Type"] = schools_types_df
school_summary_df["Total Students"] = schools_students_df
school_summary_df["Total School Budget"] = schools_budgets_df
school_summary_df["Budget Per Student"] = schools_perStu_df
school_summary_df["Average Math Score"] = schools_avg_math_df
school_summary_df["Average Reading Score"] = schools_avg_reading_df
school_summary_df["Passing Math (%)"] = schools_passing_math_df
school_summary_df["Passing Reading (%)"] = schools_passing_reading_df
school_summary_df["Overall Passing (%)"] = schools_passing_both_df
school_summary_df

,School Name,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,Passing Math (%),Passing Reading (%),Overall Passing (%)
0,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
1,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
2,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
3,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
5,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
6,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
7,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
8,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
10,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333
11,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
12,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
13,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
14,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012

In [27]:
#Display the top 5 performing schools
best_schools_df = school_summary_df.sort_values("Overall Passing (%)",ascending=False)
best_schools_df.head(5)

,School Name,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,Passing Math (%),Passing Reading (%),Overall Passing (%)
6,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
14,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
5,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [29]:
#Display the bottom 5 performing schools
worst_schools_df = school_summary_df.sort_values("Overall Passing (%)")
worst_schools_df.head(5)

,School Name,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,Passing Math (%),Passing Reading (%),Overall Passing (%)
11,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
1,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
0,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
3,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
12,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172