In [1]:
#Dependencies
import pandas as pd

In [2]:
#Call in data
schools = "../schools_complete.csv"
students = "../students_complete.csv"

In [28]:
#Read data into Pandas DataFrames
schools_df = pd.read_csv(schools)
students_df = pd.read_csv(students)

In [5]:
#Merge the two DataFrames into a single DataFrame
complete_df= pd.merge(students_df, schools_df, how="left", on=["school_name", "school_name"])

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [27]:
#Calculate the values for the district summary
school_count = len(complete_df["school_name"].unique())
student_count = len(complete_df["Student ID"].unique())
total_budget = schools_df["budget"].sum()
avg_math = complete_df["math_score"].mean()
avg_reading = complete_df["reading_score"].mean()
passing_math = (len(complete_df[complete_df.iloc[:,6] >= 70])/student_count) * 100
passing_reading = (len(complete_df[complete_df.iloc[:,5] >= 70])/student_count) * 100
passing_both = len(complete_df[(complete_df.iloc[:,5] >=70) & (complete_df.iloc[:,6] >=70)])/student_count * 100

In [36]:
#Create a DataFrame for the summary
summary_df = pd.DataFrame({"Total Schools" : [school_count], "Total Students" : [student_count], 
                           "Total Budgets" : [total_budget], "Average Math Score" : [avg_math], 
                           "Average Reading Score" : [avg_reading], "% Passing Math" : [passing_math], 
                           "% Passing Reading" : [passing_reading], "% Passing Overall" : [passing_both]})
summary_df

,Total Schools,Total Students,Total Budgets,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326